<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Customer</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container1">
        <h1>Add Customer</h1>
        <form action="{% url 'add_user' %}" method="post">
            {% csrf_token %}
            <label for="first_name">Name</label><br>
            <input type="text" id="first_name" name="name"><br><br>
            <label for="phone">Phone Number</label><br>
            <input type="text" maxlength="10" id="phone" name="phone"><br><br>
            <label for="country">Email</label><br>
            <input type="email" id="country" name="email"><br><br>
            
            <label for="country">Adress</label><br>
            <input type="text" id="country" name="address"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
