<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>


<body>
    <div class="container1">
        <h1>Add Customer</h1>
        <form action="{% url 'add_product_service' %}" method="post">
            {% csrf_token %}
            <label for="p_name"> Product Name</label><br>
            <input type="text" id="first_name" name="p_name"><br><br>
            <label for="p_price">Price</label><br>
            <input type="number" id="p_price" name="p_price"><br><br>
            <label for="p_stock">Stock</label><br>
            <input type="number" id="p_stock" name="p_stock"><br><br>
            
            <label for="p_desc">Description</label><br>
            <input type="text" id="p_desc" name="p_desc"><br><br>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>

</html>
